*{margin:0;padding:0}

body {
	margin:0;
	position:relative;
}

#root{
	width:320px;
	height:533px;
	overflow:hidden;
}

#joystickBase{
	position:relative;
	left:38px;
	top:102px;
	width:248px;
	height:248px;
	background:url(../img/joystick_base.png);
}

#joystickBall{
	position:absolute;
	left:61px;
	top:54px;
	width:134px;
	height:168px;
	background:url(../img/joystick_ball.png);
}

#btCatch{
	position:absolute;
	left:19px;
	top:396px;
	width:217px;
	height:74px;
	background:url(../img/bt_pegar.png);
}

/*#joystick{
	position:absolute;
	background:transparent url(transparent.gif);
}*/