*{margin:0;padding:0}

body {
	margin:0;
	position:relative;
}

#root{
	width:480px;
	height:800px;
	overflow:hidden;
	background-color:red;
}

#joystickBase{
	position:relative;
	left:57px;
	top:153px;
	width:372px;
	height:371px;
	background:url(../img/joystick_base.png);
}

#joystickBall{
	position:absolute;
	left:91px;
	top:80px;
	width:201px;
	height:252px;
	background:url(../img/joystick_ball.png);
}

#btCatch{
	position:absolute;
	left:28px;
	top:594px;
	width:325px;
	height:110px;
	background:url(../img/bt_pegar.png);
}

/*#joystick{
	position:absolute;
	background:transparent url(transparent.gif);
}*/